body{
    background-color: bisque;
/* }
li:nth-child(2){
    color:blue;
}
h1 + p{
    color: blue;
}
label ~ button{
    color: orangered;
}
ul  li{
    color: rgb(3, 63, 50);
}
img[src^="img/"]{
    border: 3px solid black;
}
h2[class~=article-subtitle]{
    color: chartreuse;
} */
 .box{
    width: 200px;
    height: 200px;
    background-color: blue;
    translate: 100px 100px;
    transition-property: translate;
    transition: all 2s 2s ease-in;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
 }
 @keyframes example {
    0%{
        transform:scale(0.4);
    }
    50%{
        background-color:gray;
    }
    100%{
        transform:scale(2);
    }
 }